#form1 {
    height: 35px;
    width: 350px;
    background-color: white;
    text-indent: 20px;
    position: relative;

}

#searchIcon {
    position: absolute;
    top: 14px;
    left: 260px;
}
.searchButt {
    position: relative;
    top: 0;
    right: 70px;
}