html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

a{
    text-decoration: none;
    color:black;
}


/* nav, header, .firstDivOfMain, .albumHeader, .songTable{
    padding:0.5rem 2rem;
    background-color: violet;
    width: 100%;
    margin: 0 auto;
}  */


    


.contenitore{
    padding-bottom: 75px;
    background-color: rgb(61, 60, 60);
    margin: 0 250px;
    overflow-y: scroll;
    height: 100%;
} 

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: gray;
    padding:0.5rem 2rem;
}

.navArrow{
    width: 3.5rem;
    display: flex;
    justify-content: space-between;
}

.navArrow i, #accountIcon{
    font-size: 24px;
}
.shuffle{
    font-size: 30px;
    display: none;
}
.account{
    border-radius: 50px;
    display: flex;
    height: 1.6rem;
    background-color: rgb(20, 19, 19);
    align-items: center;
    padding-right: 5px;
    color: white;
    padding-left: 1px;
    /* padding: 0 5px 0.5px; */
}

.account span{
    font-size: 15px;
}
#arrowDownIcon{
    font-size: 12px;
}
.account span, #accountIcon{
    margin-right: 5px;
}

/*Header*/
.albumHeader{
    display: flex;
    background: transparent;
    background-color: gray;
    padding: 2rem;
}
#albumCover{
    margin-right: 15px;
    width:40%;
}

#recordType, #description{
    font-size: 0.8em;
}
#albumDescription{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    font-weight: 500;

}
h1{
    font-size: 1.8em;
    margin-bottom: 1rem;
}
#description{
    margin:0;
    display: flex;
    align-items: center;
}
#artistImage{
    width: 20px;
    border-radius: 100%;
    margin-right: 2px;
}
.contributors{
    font-weight: bold;
}
#duration{
    color: rgb(255 255 255 / 60%);
}

/*main*/

main{
    color: white;
    
}

.threeDots{
    display: none;
}

#invisibleYear{
    display: none;
}

.firstDivOfMain{
    display: flex;
    width: 40%;
    align-items: center;
    margin-top: 0.7rem;
    margin: 0.7rem 2rem 0;
}

#play{
    border-radius: 100%;
    color: black;
    background: #1fcb7b;
    width: 55px;
    width: px;
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.playIcons{
    font-size: 30px;
}

.tableHeader, .tableRow{
    width: 100%;
    margin: 1rem 0;
    
}
.tableRow{
    display: flex;
    align-items: center;
}
.tableHeader{
    border-bottom: 0.5px solid #ffffff63;
    padding: 0.7rem 0;
    width: 100%;
    margin: 1rem 0;
    position: sticky;
    top:52px;
    background-color: rgb(61, 60, 60);
}

.tableRow span{
    white-space: nowrap;
    align-items: center;
}

.paddingDiv{
    margin:0 2 rem
}
#iconDiv{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
footer{
    display: none;
    position: sticky;
    bottom:0;
    background-color: #0000008c;
    padding: 5px 0;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
footer i{
    font-size: 30px;
    color:white;
}

@media screen and (max-width: 480px){
    .leftAside, .rightAside, #data, #nbTracks, #duration, nav, .tableHeader, .playbar{
        display: none;
    }
    .contenitore{
        margin:0;
    }
    .albumHeader{
        flex-direction: column;
    }
    #description{
        order:2
    }
    #invisibleDiv{
        order:3
    }
    #invisibleYear{
        display: inline;
    }
    .contributors{
        order:2
    }
    #albumCover{
        width: 75%;
        margin: 0 auto 10px;
    }
    #iconDiv{
        order: -1;
        width:35%;
    }
    .firstDivOfMain{
        width:100%;
        margin:0;
        padding:10px 12px 0;
        justify-content: space-between;
    }
    #iconDiv{
        margin:0
    }
    .albumHeader{
        padding:2rem 0
    }
    #albumDescription{
        padding:0 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 6rem;
    }
    .shuffle{
        display: inline;
        margin-right: 20px;
    }
    #playId{
        width: 24%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    h1{
        margin:0
    }
    .threeDots{
        display: inline;
        width: 15%;
    }
    .tableRow{
        align-items: center;
        justify-content: space-between;
    }

    footer{
        display: flex;
        justify-content: space-around;

    }
    .contenitore{
        padding-bottom: 0;
    }

    }

/*# sourceMappingURL=app.css.map */