.playbar {
    background-color: rgb(24, 24, 24);
    height: 75px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    h4 {
        font-size: 0.8rem;
     }
     h5 {
         font-size: 0.7rem;
     }
}

.info {
    width: 205px;
    min-width: 130px;
    .bi-heart-fill {
    display: none;
    }
    .bi-repeat-1 {
    display: none;
    }
}

.navButtonPlay {
    width: 100%;
    .bi-pause-circle-fill {
        display: none;
    }
    .bi-repeat-1 {
        display: none;
    }
    .bar {
        height: 4px;
        border-radius: 100px;
        background-color: rgb(94, 94, 94);
        width: 70%;
        .barProgress {
            height: 4px !important;
            border-radius: 100px;
            width: 10%;
            position: relative;
            h4 {
                position: absolute;
                right:-5px;
                top: -6px;
                padding: 0;
                visibility: hidden;
            }
        }
        .barProgress:hover {
            background-color: green !important;
            h4 {
                visibility: visible;
            }
        }
    }
}





.navButtVol {
    width: 230px;
    min-width: 130px;
    .bi-volume-mute{
        display: none;
    }
    .bi-volume-up{
        display: none;
    }
    .volume-container {
        padding: 40px 0px;
      }
      
      .volume-range {
        height: 5px;
        width: 60px;
        background: #555;
        border-radius: 15px;
      }
      
      .volume {
        height: 5px;
        width: 50px;
        background: #2ecc71;
        border: none;
        border-radius: 10px;
        position: relative;
      }
      
      .volume-button {
        width: 10px;
        height: 10px;
        border-radius: 20px;
        background: #fff;
        position: absolute;
        right: 0px;
        top: -3px;
        cursor: pointer;
        outline: none;
        pointer-events: none;
      }
    
}





