.container-fluid {
  //display: flex;
  //justify-content: space-between;
  //position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.rightAside {
  width: 20%;
  //position: absolute;
  //top: 0;
  //right: 0;
  position: fixed;
  height: 100%;
  background-color: black;
  color: #b5b2b2;
  font-weight: bold;
  padding-left: 7px;

  span {
    margin-right: 60px;
  }

  #x {
    padding: 0 3px 0 3px;
    font-size: 28px;
    color: #b5b2b2;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: rgb(58, 58, 58);
      border-radius: 40px;
    }
  }
  #add {
    font-size: 28px;
    color: #b5b2b2;
    font-weight: bold;
  }
  #add:hover {
    color: white;
  }

  #x:hover #chiudi,
  #add:hover #aggiungiAmici {
    visibility: visible;
  }

  #chiudi {
    color: white;
    border-radius: 10px;
    font: {
      size: 16px;
      style: normal;
      weight: lighter;
    }
    text-align: center;
    background-color: #555555;
    visibility: hidden;
    padding: 6px 5px 6px 5px;
    position: absolute;
    width: 58px;
    top: 56px;
    right: 16px;
  }

  /*#aggiungiAmici {
      color: white;
      border-radius: 10px;
      font {
        size: 16px;
        -style: normal;
        -weight: lighter;
      }
      text-align: center;
      background-color: #555555;
      visibility: hidden;
      padding: 6px 5px 6px 5px;
      position: absolute;
      width: 120px;
      top: 56px;
      right: 46px;
    }*/

  #aggiungiAmici {
    @extend #chiudi;
    width: 120px;
    top: 56px;
    right: 46px;
  }

  #iconFriend {
    font-size: 40px;
    padding-right: 18px;
  }

  p {
    margin: 0;
    line-height: 20px;
  }

  .bi-record-circle {
    margin-right: 10px;
  }
}

/*CONTAINER AGGIUNGI AMICI*/

#roww {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: #121212;
  color: #7c7b7b;
  visibility: hidden;
  #colSuperiore {
    width: 80%;
    padding: 40px 0 15px 0;

    margin: auto;
    border-bottom: 2px solid;
  }
  .bi-facebook {
    font-size: 40px;
    color: blue;
  }

  p {
    padding-left: 20px;
    font-weight: bold;
  }

  #search {
    background-color: #474747;
    color: rgb(163, 163, 162);
    width: 100%;
    text-indent: 25px;
    padding: 5px;
    border-radius: 6px;
    border: transparent;

    &:focus-visible {
      outline: transparent;
    }
    position: relative;
  }

  .bi-search {
    position: absolute;
    top: 146px;
    left: 20px;
  }
}
