.container-fluid {
  //display: flex;
  //justify-content: space-between;
  //position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.rightAside {
  width: 250px;
  //position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
  background-color: black;
  color: #b5b2b2;
  font-weight: bold;
  padding-left: 10px;

  span {
    margin-right: 70px;
    font-weight: bold;
  }

  #x {
    padding: 0 3px 0 3px;
    font-size: 20px;
    color: #b5b2b2;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: rgb(58, 58, 58);
      border-radius: 40px;
    }
  }
  #add {
    font-size: 20px;
    color: #b5b2b2;
    font-weight: bold;
  }
  #add:hover {
    color: white;
  }

  #x:hover #chiudi,
  #add:hover #aggiungiAmici {
    visibility: visible;
  }

  #chiudi {
    color: white;
    border-radius: 10px;
    font: {
      size: 16px;
      style: normal;
      weight: lighter;
    }
    text-align: center;
    background-color: #555555;
    visibility: hidden;
    padding: 6px 5px 6px 5px;
    position: absolute;
    width: 58px;
    top: 56px;
    right: 16px;
  }

  /*#aggiungiAmici {
      color: white;
      border-radius: 10px;
      font {
        size: 16px;
        -style: normal;
        -weight: lighter;
      }
      text-align: center;
      background-color: #555555;
      visibility: hidden;
      padding: 6px 5px 6px 5px;
      position: absolute;
      width: 120px;
      top: 56px;
      right: 46px;
    }*/

  #aggiungiAmici {
    @extend #chiudi;
    width: 120px;
    top: 56px;
    right: 46px;
  }

  .contenitoreAmici {
    margin-left: 20px;
  }

  #iconFriend {
    font-size: 40px;
    padding-right: 18px;
  }

  p {
    margin: 0;
    line-height: 20px;
    font-size: 14px;
    font-weight: lighter;
  }

  .bi-record-circle {
    margin-right: 10px;
  }
}


